body
{
	background: #333;
	color: #FFF;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
}
table
{
	border: 1px solid #eee;
	border-radius: 0.5em;
	margin: 0 auto;
	padding: 0.5em 1em 0.5em 0.5em;
	width: 30%;
}
table input[type="text"],input[type="password"]
{
	width: 100%;
}
table td
{
	text-align: center;
	width: 20%;
}
table th
{
	text-align: center;
	width: 100%;
}
.boton
{
	background: brown;
	border: none;
	border-radius: 0.5em;
	color: white;
	cursor:pointer;
	font-size:15px;
	height:2.3em;
	margin: 0.5em 0.5em 0.5em 0.5em;
	padding: 0.5em 1em;
	text-decoration:none;
}
.boton:hover
{
	background: #FFF;
	color: black;
}
#login
{
	margin: 250px 0 0 0;
}
