{% extends 'base.html' %}
{% block title %}
	{% for title in torneos %}
		<h1>{{ title.nombre|upper }}</h1>
		      {% if user.is_authenticated %}
				<h2>Usuario: {{ user.username }}</h2>
  	{% else %}	
        <h2>Por favor Registrarse!!</h2>
				{% endif %}	
	{% endfor %}
{% endblock %}
{% block contenido %}
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table class="table1">
			<tr>
				<td>Correo: </td>
				<td>{{ formulario.correo}}</td>
			</tr>
			<tr>
				<td>Mensaje: </td>
				<td>{{ formulario.mensaje }}</td>
			</tr>
			<tr>
				<td><a href="/" class="boton">Regresar</a></td>
				<td><input class="boton" type='submit' value='Enviar' /></td>
			</tr>
		</table>
		<section class="foot">
			&copy; Powered by Yandry Ramirez E-mail: yrramirezs@unl.edu.ec
		</section>
	</form>
{% endblock %}
