{% extends 'base1.html' %}
{% block title %}
	{% for title in torneos %}
		<h1>{{ title.nombre|upper }}</h1>
			      {% if user.is_authenticated %}
				<h2>Usuario: {{ user.username }}</h2>
	{% else %}	
        <h2>Por favor Registrarse!!</h2>
				{% endif %}	
	{% endfor %}
{% endblock %}
{% block contenido %}
<h4>EQUIPOS REGISTRADOS</h4>

<form action="/print/plantilla/" method="post">
{% csrf_token %}
	
	<button type="submit" class="btn btn" ><li class="icon icon-print"></li>
	<span class="visuallyhidden"> Imprimir Plantilla </span>
	</button><br><br>

	<select name="equipo">
	<option value="none" selected="selected">Seleccione Equipo</option>
	<option value="10mo A">10mo A</option>
	<option value="10mo B">10mo B</option>
	<option value="8vo A">8vo A</option>
	<option value="8vo B">8vo B</option>
	<option value="6to A">6to A</option>
	<option value="6to B">6to B</option>
	<option value="4to A">4to A</option>
	<option value="4to B">4to B</option>
	<option value="2do A">2do A</option>
	<option value="2do B">2do B</option>
	</select></p>

</form>

	<table class="table table-hover">
		{% regroup jugadores by fk_equipo as equipo_list %}
		<th>EQUIPOS</th>
		<th>INSCRIPCION</th>
		<th>FOTO</th>
		{% for equipo in equipo_list %}
		<tr>
				<th colspan="5">{{ equipo.grouper }}</th>
		</tr>
		{% for item in equipo.list %}
		<tr style="background:{% cycle '#DCDCF0' '#FFFFF0' %} ">

			<td>{{ item.nombres }} {{ item.apellidos }}</a></td>
			<td>{{ item.fk_equipo.inscripcion }}</td>
			<td><img src="/{{ item.foto }}" width="40px" heigth="40px" /></td>
			
		</tr>
		{% endfor %}
		{% endfor %}
	</table>



{% if jugadores %}
	<div class="pagination">
	<ul>
		<li><a href="/equipos/page/1"> << </a></li>
		{% if jugadores.has_previous %}
			<li><a href="/equipos/page/{{jugadores.previous_page_number }}/">Prev</a></li>
		{% else %}
			<li><a href="#"> Prev </a></li>
		{% endif %}
		{% if jugadores.has_next %}
			<li><a href="/equipos/page/{{jugadores.next_page_number}}/"> Next </a></li>
		{% else %}
			<li><a href="#"> Next </a></li>
		{% endif %}
			<li><a href="/equipos/page/{{jugadores.paginator.num_pages}}/"> >> </a></li>
	</ul>
	</div>

	<h4> Pagina {{ jugadores.number }} de {{jugadores.paginator.num_pages }}</h4>

{% endif %}
{% endblock %}
	