{% extends 'base1.html' %}
{% block title %}
	{% for title in torneos %}
		<h1>{{ title.nombre|upper }}</h1>
		      {% if user.is_authenticated %}
				<h2>Usuario: {{ user.username }}</h2>
    	{% else %}	
        <h2>Por favor Registrarse!!</h2>
				{% endif %}	
	{% endfor %}
{% endblock %}
{% block contenido %}
<h4>TABLA DE GOLEADORES</h4>
<a class="btn btn-danger" onClick="popup('/print/goleadores');return false;" href=""><i class="icon-print icon-blue"></i> Imprimir Lista</a><br><br>

<table class="table table-hover">
		
		<tr>
			<th>JUGADORES</th>
			<th>EQUIPO</th>
			<th>GOLES</th>
		</tr>
		{% for item in jugadores %}
		<tr style="background:{% cycle '#DCDCF0' '#FFFFF0' %} ">
			<td>{{ item.fk_user.nombres }} {{ item.fk_user.apellidos }}</td>
			<td>{{ item.fk_user.fk_equipo.nombre }}</td>
			<td>{{ item.goles }}</td>
		</tr>
		{% endfor %}
</table>
{% endblock %}