{% extends 'base1.html' %}
{% block title %}
	{% for title in torneos %}
		<h1>{{ title.nombre|upper }}</h1>
		      {% if user.is_authenticated %}
				<h2>Usuario: {{ user.username }}</h2>
				{% else %}	
        <h2>Por favor Registrarse!!</h2>
        {% endif %}	
	{% endfor %}
{% endblock %}
{% block contenido %}
	<!--BotonBuscar-->
				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">Ingresar texto a buscar!</li>
							<form action="#/buscar/" method="post">
				  				{% csrf_token %}
								<input type="text" id="modal_idBuscar" name="texto" placeholder="Buscar por cedula" type="search">

								<button type="submit" name="q" value="{{ q }}" class="btn" ><li class="icon icon-search"></li><span class="visuallyhidden">Search</span></button>
							</form>
						
					</ul>
				</div>
		<!--FinBuscar-->

{% if pro %}

	<table class="table table-hover">
		
		<th>CEDULA</th>
		<th>JUGADORES</th>
		<th>EQUIPO</th>
		<th>PERFILES</th>
		
		{% for item in pro %}
		<tr style="background:{% cycle '#DCDCF0' '#FFFFF0' %} ">

			<td>{{ item.cedula }}</td>
			<td>{{ item.nombres }} {{ item.apellidos }}</td>
			<td>{{ item.fk_equipo.nombre }}</td>
			<td><a class="btn btn-success" href="/jugador/page/{{item.id}}">Ver Perfil</a>
			</td>
		</tr>
		{% endfor %}
	</table>


{% if pro %}
	<div class="pagination">
	<ul>
		<li><a href="/jugadores/page/1"> << </a></li>
		{% if pro.has_previous %}
			<li><a href="/jugadores/page/{{pro.previous_page_number }}/">Prev</a></li>
		{% else %}
			<li><a href="#"> Prev </a></li>
		{% endif %}
		{% if pro.has_next %}
			<li><a href="/jugadores/page/{{pro.next_page_number}}/"> Next </a></li>
		{% else %}
			<li><a href="#"> Next </a></li>
		{% endif %}
			<li><a href="/jugadores/page/{{pro.paginator.num_pages}}/"> >> </a></li>
	</ul>
	</div>

	<h4> Pagina {{ pro.number }} de {{pro.paginator.num_pages }}</h4>
	{% endif %}

{% else %}
{% if jugadores %} 
	

	{% if user.is_authenticated %}
		<a class="btn btn-primary" href="/agregar/perfil"><li class ="icon-plus"></li>Agregar Perfil...</a><br><br>
		{% endif %}


	<table class="table table-hover">
		
		<th>CEDULA</th>
		<th>JUGADORES</th>
		<th>EQUIPO</th>
		<th>PERFILES</th>
		
		{% for item in jugadores %}
		<tr style="background:{% cycle '#DCDCF0' '#FFFFF0' %} ">

			<td>{{ item.cedula }}</a></td>
			<td>{{ item.nombres }} {{ item.apellidos }}</a></td>
			<td>{{ item.fk_equipo.nombre }}</td>
			<td><a class="btn btn-success" href="/jugador/page/{{item.id}}">Ver Perfil</a>
			</td>
		</tr>
		{% endfor %}
	</table>

	{% else %}
	<h2>No existen jugadores! :(</h2>
	{% endif %}
	{% endif %}

{% if jugadores %}
	<div class="pagination">
	<ul>
		<li><a href="/jugadores/page/1"> << </a></li>
		{% if jugadores.has_previous %}
			<li><a href="/jugadores/page/{{jugadores.previous_page_number }}/">Prev</a></li>
		{% else %}
			<li><a href="#"> Prev </a></li>
		{% endif %}
		{% if jugadores.has_next %}
			<li><a href="/jugadores/page/{{jugadores.next_page_number}}/"> Next </a></li>
		{% else %}
			<li><a href="#"> Next </a></li>
		{% endif %}
			<li><a href="/jugadores/page/{{jugadores.paginator.num_pages}}/"> >> </a></li>
	</ul>
	</div>

	<h4> Pagina {{ jugadores.number }} de {{jugadores.paginator.num_pages }}</h4>

{% endif %}
{% endblock %}