<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/static/css/stylesprint.css" />
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/prefixfree.min.js"></script>
	<script src="/static/js/functions.js"></script>
	<title>CIS-UNL-2015</title>
</head>
<body>
<section>
<article id="contenido">
    <table class="planilla">
        <tr>
            <th>JUGADORES</th>
            <th>EQUIPO</th>
            <th>GOLES</th>
        </tr>
        {% for item in jugadores %}
        <tr style="background:{% cycle '#DCDCF0' '#FFFFF0' %} ">
            <td>{{ item.fk_user.nombres }} {{ item.fk_user.apellidos }}</td>
            <td>{{ item.fk_user.fk_equipo.nombre }}</td>
            <td>{{ item.goles }}</td>
        </tr>
        {% endfor %}
    </table>
</article>
</section>
</body>
</html>