<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/static/css/stylesprint.css" />
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/prefixfree.min.js"></script>
	<script src="/static/js/functions.js"></script>
	<title>CIS-UNL-2015</title>
</head>
<body>
<section>
<article id="contenido">
    <table class="planilla">
        <tr>
            <th colspan="6">{% for title in torneos %} {{ title.nombre|upper }} {% endfor %} </br> PLANILLA DE JUEGO </th>
        </tr>
        <tr>
            <th colspan="6">{{plantilla.cedula}}</th>
        </tr>
        <tr>
            <th colspan="3">Equipo: {{plantilla.fk_equipo.nombre}}</th>



            <td colspan="3">Capitan:</td>
        </tr>
        <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>C.I.</th>
            <th>Firma</th>
            <th>Goles</th>
            <th>Tarjetas</th>
        </tr>
        {% for j in plantilla %}
            <tr>
                <td></td>
                <td>{{j.nombres}}</td>
                <td>{{j.cedula}}</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        {% endfor%}
    	<tr>
		   <td colspan="6">REPRESENTANTE: {% for jrl in plantilla %} {{ jrl.nombres }} {% endfor %}</td>
        </tr>
        <tr>
            <td colspan="6">SUB-REPRESENTANTE: {% for jsrl in plantilla %} {{ jsrl.nombres }} {% endfor %} </td>
        </tr>
    </table>
   	<section id="separador">
   	</section>

</article>
</section>
</body>
</html>