{% extends 'base1.html' %}
{% block title %}
	{% for title in torneos %}
		<h1>{{ title.nombre|upper }}</h1>
			      {% if user.is_authenticated %}
				<h2>Usuario: {{ user.username }}</h2>
        	{% else %}	
        <h2>Por favor Registrarse!!</h2>
				{% endif %}	
	{% endfor %}
{% endblock %}
{% block contenido %}
		
		{% if perfil %}
			<h2><strong> {{ perfil.nombres  }} {{ perfil.apellidos  }} </strong></h2>
			<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li class="nav-header">FOTO</li>
						<br><p aling="justify">
						<img src="/{{ perfil.foto }}" width="150px" heigth="1500px" /><br>
						</p>
						<h5><strong>Equipo:</strong> {{ perfil.fk_equipo.nombre }}</h5>
						<h5><strong>Correo:</strong> {{ perfil.correo }}</h5>
						<h5><strong>Cedula:</strong> {{ perfil.cedula }}</h5>
						<h5><strong>Estatura:</strong> {{ perfil.estatura }}</h5>
						<h5><strong>Movil:</strong> {{ perfil.telefono }}</h5>
						<br><a onClick="popup('/print/carnet/{{ perfil.id }}/');return false;" class="btn btn-danger"> <i class="icon-print"></i>Imprimir Carnet</a>

						<!-- <br><a onClick="popup('/print_c/');return false;" class="btn btn-danger"> <i class="icon-print"></i>Generar Carnet </a>-->
						<a href="javascript:window.history.go(-1);" class="btn btn-primary"> <i class="icon-repeat"></i> Regresar</a>
						
					</ul>
			</div>
			
			
				
		{% else %}
			<td><a class="btn btn-primary" href="/agregar/perfil/"> Agregar Perfil </a></td>
		{% endif %}

		
{% endblock %}
